// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  .workspaces{
    $padding-x: #{15px};

    background: $bg-color;
    padding-left: $padding-x;
    padding-right: $padding-x;
    border-radius: 5px;
    border: 5px;
    border-color: white;

    button{
      background: transparent;
    }
    button.is-focused{
      background: white;
      min-width: 30px;
    }
  }
}

window.AppLauncher{
  background: transparent;
  $padding: #{15px};
  color: white;

  .app-box{
    background: $bg-color;
    padding: $padding; 
  }

  .app-search{
    background: gray;
    min-width: 500px;
  }
}